@import './colors.module.scss';

.hero-2 {
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(90deg, #171717 0.03%, rgba(23, 23, 23, 0) 99.95%);
		z-index: -2;
	}
	.hero-shape2 {
		position: absolute;
		height: 100%;
		width: 500px;
		opacity: 0.6;
		z-index: -1;
		&:before,
		&:after {
			content: '';
			position: absolute;
			height: calc(100% + 160px);
			width: 445px;
			background: linear-gradient(180deg, var(--theme-color) 0%, rgba(232, 9, 46, 0) 100%);
			opacity: 0.75;
			transform: skew(30deg, 0deg);
			top: -160px;
			left: 326px;
			z-index: 1;
		}
		&:before {
			background: $theme-color;
			opacity: 0.26;
			width: 385px;
			height: calc(100% + 120px);
			left: 0px;
			transform: skew(-31deg, 0deg);
		}
		.hero-shape2-2 {
			position: absolute;
			width: 300px;
			height: 279px;
			background: linear-gradient(180deg, #e8092e 0%, rgba(232, 9, 46, 0) 100%);
			opacity: 0.76;
			bottom: 40px;
			left: 175px;
			transform: skew(-31deg, 0deg);
		}
	}
}

.bg-red-gradient {
	background: radial-gradient(circle at center, red, violet, green 100%);
}
.bg-violet-gradient {
	background: radial-gradient(circle, violet, transparent);
}
.bg-grey-gradient {
	background: radial-gradient(circle, grey, transparent);
}
.bg-slate-gradient {
	background: radial-gradient(circle, slateblue, transparent);
}
.bg-purple-gradient {
	background: radial-gradient(circle, purple, transparent);
}
.bg-red-violet-gradient {
	background: radial-gradient(circle, red, violet);
}
.bg-violet-grey-gradient {
	background: radial-gradient(circle, violet, grey);
}
.bg-grey-slate-gradient {
	background: radial-gradient(circle, grey, slateblue);
}
.bg-slate-purple-gradient {
	background: radial-gradient(circle, slateblue, purple);
}
.bg-purple-red-gradient {
	background: radial-gradient(circle, purple, red);
}

.svg-frame {
	position: relative;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.svg-frame svg {
	position: absolute;
	transition: 0.5s;
	z-index: calc(1 - (0.2 * var(--j)));
	transform-origin: center;
	width: 344px;
	height: 344px;
	fill: none;
}

.svg-frame:hover svg {
	transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
	transition: 0.5s;
	transform-origin: center;
}

.svg-frame:hover svg #center {
	transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
	animation: rotate16 7s ease-in-out infinite alternate;
	transform-origin: center;
}

#out3 {
	animation: rotate16 3s ease-in-out infinite alternate;
	transform-origin: center;
	stroke: rgb(255, 145, 0);
}

#inner3,
#inner1 {
	animation: rotate16 4s ease-in-out infinite alternate;
	transform-origin: center;
}

#center1 {
	fill: #ff0;
	animation: rotate16 2s ease-in-out infinite alternate;
	transform-origin: center;
}

@keyframes rotate16 {
	to {
		transform: rotate(360deg);
	}
}
